apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: campaign-express
  namespace: campaign-express
  labels:
    app.kubernetes.io/name: campaign-express
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: campaign-express
  minReplicas: 10
  maxReplicas: 40
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 60
      policies:
        - type: Pods
          value: 4
          periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Pods
          value: 2
          periodSeconds: 120
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
    - type: Pods
      pods:
        metric:
          name: bids_requests_per_second
        target:
          type: AverageValue
          averageValue: "700"
