apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: campaign-express

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - pdb.yaml
  - pvc.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: campaign-express
