apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: model-storage
  namespace: campaign-express
  labels:
    app.kubernetes.io/name: campaign-express
    app.kubernetes.io/component: model-storage
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
