[package]
name = "campaign-wasm-edge"
version.workspace = true
edition.workspace = true

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }

[lib]
# rlib for integration tests; cdylib if targeting WASM
crate-type = ["rlib"]
